.lexontech-status {
  padding: 5px 15px;
  min-width: 80px;
}

.box-info {
  background: rgb(var(--info-rgb)) !important;
  width: 215px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #fff !important;
}